<h1>You searched for <%= @query %> </h1>

<% if @matched_list_items.empty? %>
<h3>There are no list names that contain: <%= @query %></h3>

<% else %>

<h3>This is a list of lists that match your query:</h3>
<ul>
  <% @matched_list_items.each do |list| %>
  <li>
    <a href="http://localhost:4567/lists/<%= list.name %>"> <%= list.name %></a>
  </li>
  <% end %>
</ul>
<% end %>


<% if @matched_task_items.empty? %>
<h3>There are no tasks that contain: <%= @query %></h3>

<% else %>
<h3>This is a list of tasks that match your query:</h3>
<ul>
  <% @matched_task_items.each do |mtask| %>
  <li>
    <%list_name = (@lists.select { |list| mtask.list_id == list.id })[0].name %>
    <a href="http://localhost:4567/lists/<%= list_name %>"> <%= mtask.name %></a>
  </li>
  <% end %>
</ul>
<% end %>


<marquee direction="right"><a href="http://localhost:4567/">
  <img class="back_button" src="http://i644.photobucket.com/albums/uu168/melonangie/Anime/Totoro.png" >
</a>
</marquee>
